*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Regular.ttf");
}

// variables

 // fonts
$font-paragraph:16px;
$font-banner-paragraph:18px;


// heading fonts
$h1-font:50px;


// background colors
$b-grd-color-light-gray:#2d3e50;
$b-grd-color-aq: #1bbc9b;
$b-grd-color-darkgray:#1B252F;

// colors
$white:#ffffff;
$black:#000000;

// lines
$base-width:70px;

// border-icons
$lineone:1px;

.bg-dark{
    display: none;
}

@mixin main{
    font-family: Montserrat;
    background-color: $b-grd-color-light-gray;
   
    .container{
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-family: Montserrat;

    }
    p{
        font-size: $font-banner-paragraph;
        color: $white;
        font-weight: bolder;
        margin-top: 10px;
        font-family: Montserrat;
    }
 a{
    margin-left: 20px;
    font-size: 12px;
    text-decoration: none;
    color: $white;
    font-family: Montserrat;
 }

}

.main{
    @include main;
}

.nav-item{
    font-weight: bold;
    font-size: 80px;
}




@mixin great{
    font-family: Montserrat;
    background-color:$b-grd-color-aq;
    height: 90vh;
    padding-top: 50px;
    padding-bottom: 34px;

    img{
        width: 100%;
        height: 45vh;
        margin-bottom: 30px;
      
    }
    .bb{
        text-align: center;
    }
p{
  
    font-size: $font-paragraph;
    color: $white;
    margin: 12px;
    font-family: Montserrat;
    
}
h1{
    font-size: 35px;
    color: white;
    font-family: Montserrat;
}




.line{
    margin-bottom: 8px;
    width:70px;
    color: white;
    border: solid 1px ;
    
    
 }
 span{
    display: inline-block;
    margin: 5px;
 }

.line2{
    width:70px;
    border: solid 1px;
    color: white;
    margin-bottom: 8px;
    
 }



}

.great{
    @include great;
}

.navbar-brand{
    font-size: 30px;
}



@mixin port{
    font-family: Montserrat;
    padding-top: 67px;
    margin-bottom: 70px;
    h2{
       margin-bottom: 12px; 
       
    }
    .bb{
        text-align: center;
    }

.star{
    padding-bottom: 15px;
}


    img{
     
        height: 40vh;
    }
    .row{
        padding: 4px;

    }

    .line{
        width: $base-width;
        border: solid 1px ;
        margin-bottom: 8px;
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
    .line2{
        width: $base-width;
        border: solid 1px;
        margin-bottom: 8px;
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
}
.port{
    @include port;
}

@mixin Us{
    font-family: Montserrat;
    padding-top: 67px;
    padding-bottom: 70px;
    background-color: $b-grd-color-aq;
.star{
    text-align: center;
    color: $white;
}
.row{
    margin-left: 150px;
    margin-right: 150px;
    color: $white;
    
}

    .col6{
        padding: 12px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
       
       
    }
a{
    text-decoration: none;
    background-color: "";
    width: 180px;
    text-align: center;
    padding: 10px;
    color: $white;
    
    border:$lineone solid;
   
}

.line{
    width:$base-width;
    border: solid 1px;
    margin-bottom: 8px;
    
 }
 span{
    display: inline-block;
    margin: 5px;
 }

.line2{
    margin-bottom: 8px;
    
    width:$base-width;
    border: solid 1px;
    
    
 }
 span{
    display: inline-block;
    margin: 5px;
 }
     
}

.Us{
    @include Us;
}





@mixin bottom{
    font-family: Montserrat;
   background-color: $b-grd-color-light-gray;
   padding-top: 70px;
   padding-bottom: 40px;
   color: $white;
    .blue{
        color: $b-grd-color-aq;
    }
p{
    text-align: center;
}
h4{
    text-align: center;
}
   
i{
    background-color: "";
    padding: 20px;
    border-radius: 50%;
    border: $lineone solid $white;
    margin: 6px;
    width: 60px;
    height: 60px;
   
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

.safe{
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .bottom{
    @include bottom;
 }




@mixin contact{
    font-family: Montserrat;
    text-align: center;
    padding-top: 43px;
   
    // .container{
    //     margin-left: 150px;
    //     margin-right: 150px;
        
    // }
   
    a{
       text-decoration: none;
       color: $white;
    }
    .send{
      margin-top: 30px;
        padding: 10px; 
        background-color: $b-grd-color-aq;
        width: 80px;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-left: 219px;
      
    }
    // .row{
    //     margin-left: 100px;
    //     margin-right: 200px;
    // }
h2{
    margin-bottom: 4px;
   
}

.line{
    width:$base-width;
    border: solid 1px;
    
    margin-bottom: 8px;
 }
 span{
    display: inline-block;
    margin: 5px;
 }

.line2{
    width:$base-width;
    border: solid 1px;
    
    margin-bottom: 8px;
 }
 span{
    display: inline-block;
    margin: 5px;
 }
 .form-control{
    padding: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    width: 760px;
    margin-left: 190px;
 }


 .message{
   border-top: none;
   border-left: none;
   border-right: none;
    padding: 25px;
    width: 765px;
    margin-left: 45px;
    
 }
 
.forms{
    padding-top: 12px;
}

.class{
    margin-right:100px;
}



     
}

.call{
    @include call;
}

// copy
@mixin copy{
    font-family: Montserrat;
    text-align: center;
   p{
    background-color: $b-grd-color-darkgray;
    padding: 38px;
    color: $white;
   }
    
}

.copy{
    @include copy;
}



@media only screen and (max-width: 667px){


    .bg-dark{
        display: flex;
        height: 80px;
    }
    h2{
                font-size: 20px;
            }
        
           
            
            .great{
                padding-top: 40px;
                padding-bottom: 36px;
                overflow: hidden;
                height: 399px;
                img{
                    height: 25vh;
                }
                h1{
                    font-size: 28px;
                }
                .icon{
                    font-size: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        
        .port{
            padding-top: 40px;
            padding-bottom: 40px;
            overflow: hidden;
            padding-left: 20px;
            padding-right: 25px;
            margin-bottom: 0px;
            .allpics{
                display: flex;
            }
            img{
                width: 288px;
                height: 30vh;
                object-fit: cover;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-top: 6px;
            }
            .col-md-4{
                margin: 0px;
                padding: 0px;
            }
            
            .g-4{
                margin: 5px;
            }
            .pics{
        padding-top: 16px;
            }
        }
        
        .Us{
            padding-top: 40px;
            padding-bottom: 40px;
            overflow: hidden;
            p{
                font-size: 14px;
                padding-left: 50px;
                padding-right: 50px;
                margin: 7pxpx;
            }
           
            .row{
                margin-left: 0px;
                margin-right: 0px;
                color: white;
            }
            .col6{
                padding: 2px;
            }
            a{
                font-size: 14px;
                width: 148px;
                padding: 6px;
            }
            .button{
                padding-top: 10px;
            }
        }
        
        .call{
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;

            .container{
                margin-left: 0px;
                margin-right: 0px;
                
            }
         
         .form-control {
           width: 302px; 
           margin-right: 0px;
           font-size: 12px;
           padding: 5px;
           height: 47px;
           margin-left: -3px;
          
           
          }
          
          .row{
            margin-left: 0px;
            margin-right: 0px;
                }
         .class{
            margin-right: 0px;
         }
         .forms{
            text-align: center;
         }
         .message{
            width: 326px;
            padding: 10px;
            font-size: 13px;
            position: relative;
            right: 11px;
        
         }
         .container{
            padding: 0px;
         }
         .send{
           margin-bottom: 0px;
            margin-top: 3px;
            font-size: 12px; 
            width: 50px;
            padding: 5px;
            margin-left: -3px;
         }
        }

        .call .message{
            margin-left: 1px;
        }
        
        .bottom{
           padding-top: 40px;
           padding-bottom:40px;
        
            h4{
                font-size: 16px;
                padding-top: 35px;
            }
            p{
                font-size: 14px;
                margin-bottom: 12px;
            }
            i{
                padding: 20px;
            }
            .circles{
                padding-bottom: 10px;
            }

            .row{
                display: flex;
                flex-direction: column;
              justify-content: center;
              align-items: center;
            }
        }
        
        .copy{
            font-size: 14px;
        p{
            padding: 10px;
        }
        }

        
.safe{
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    }

        @media  (min-width: 678px) and (max-width: 991px){

            .bg-dark{
                display: flex;
                width: 766px;
            }
            .call  .message{
                margin-left: -70px;
                position: relative;
                right: -41px;
                width: 588px;
            }

        .great img{
            height: 18vh;
        }

       .great{
        height: 45vh;
       }  

    .port img{
     
        height: 15vh;
    }
    .call .class{
        margin-right: -5px;
    }

   .call .forms{
    margin-left: 24px;
    width: 576px;
   }

   .call .form-control {
    padding: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    width: 593px;
    margin-left: 3px;
}

.call .send {
    margin-top: 30px;
    padding: 10px;
    background-color: #1bbc9b;
    width: 80px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 27px;
}

   .bottom .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 38px;
}

.bottom h4{
    text-align: center;
    font-size: 15px;
    margin-right: 34px;
}

.colunm{
    margin-right: 45px;
}
    }

    @media (min-width: 991px) and (max-width: 1024px){

        .bg-dark{
            display: flex;
        }
        .great{
            height: 45vh;
        }
        .great img{
            height: 23vh;
        }

        .port img{
            height: 15vh;
        }

        .call .forms{
            margin-left: 121px;
        }

        .call .message{
            width: 600px;
        }

        .call .class {
            margin-right: -132px;
        }

        .call h2{
            margin-left: -147px;
        }

        .images {
            margin-left: -155px;
        }

        .call .message {
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 25px;
            width: 765px;
            margin-left: -215px;
            position: relative;
            right: -79px;
        }

        .call .send {
            margin-top: 30px;
            padding: 10px;
            background-color: #1bbc9b;
            width: 80px;
            border-radius: 5px;
            margin-bottom: 50px;
            margin-left: 10px;
    }
}
        
    

            
          
        
















